//////////////////////////////////////////
// CARD SECTION

.card {
  padding: 1.5rem;
  border-radius: 0.5rem;
  box-shadow: 2.5rem 2rem 3rem -2.5rem rgba($color-primary-Very-dark-blackish-blue, 0.5);
}
